.todo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;

  .delete_all {
    margin: 0px 0px 10px auto;
    padding: 0 8px 0 0;
    border: none;
    background: #696b6c;
    cursor: pointer;
    &:hover {
      transform:none
    }
  }

  li {
    margin-bottom: 20px;
    word-break: break-all;
    padding: 10px 10px;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .action {
      cursor: pointer;
    }
  }


}