.oldTodo {
  text-decoration: line-through darkred;
  position: relative;
  color: #000000;
}

.action {
  transition:all 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: rotate(-90deg);
  }
}

.action__restore {
  color: black;
  &:hover{
    transform: rotate(90deg);
  }
}



.todoText {
  font-size: 18px;
  line-height: 150%;
}

.todoDate{
  font-size:10px;
  line-height: 150%;
}

.todoId {
  font-size: 8px;
}